.homeContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    height:100vh;
    margin-top: 20px;
}

.logout{
    padding: 5px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    color: rgb(254, 255, 255);
    background: linear-gradient(90deg, rgba(131,58,180,1) 0%, rgba(91,54,208,1) 16%, rgba(29,48,253,1) 41%);
}