.folderUploaderForm{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.folderInput{
    border-radius: 5px;
    padding: 10px;
    background: sandybrown;
}

.folderInput input,.folderInput label{
    outline: none;
    background: sandybrown;
    margin: 10px;
    cursor: pointer;
}

.folderUploaderForm button{
    width:30%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background: rgb(20, 60, 169);
    color: white;
    cursor: pointer;
}

.table{
    border-collapse: collapse;
}

.table th, .table td{
    border: 1px solid black;
    padding: 5px;
    background: sandybrown;
}

.tableHeader{
    border: 1px solid black;
    padding: 10px;
    text-align: center;
}