@import url('../../styles/global.css');

.navbar{
    width: 100%;
    color: #eaeefa ;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    background-color: var(--main_back_blue);
}

.items{
    margin : 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    gap:7px;
}

.navbut{
    padding: 5px;
    border-radius: 5px;
    outline: none;
    border: none;
    cursor: pointer;
    background: var(--main_white);
}

.navbut {
  background-color: initial;
  border: 1px solid #b0efc7;
  color: #b0efc7;
  border-radius: 6px;
  box-sizing: border-box;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  outline: 0;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  -webkit-user-select: none;
  user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.navbut:hover,
.navbut:active {
  background-color: initial;
  border: 1px solid #fb160e;
  color: #fb160e;
}

.navbut:active {
  opacity: .5;
}