* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(188, 212, 234);
}

body{
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}